/* Adapted from https://github.com/ghostty-org/ghostty/discussions/3297#discussioncomment-11861813 */
:root {
  --terminal-bg-color: #282828;
  --text-color: #ffffff;
}

tabbar {
  margin: 0;
  padding: 0;
  background-color: var(--terminal-bg-color);
}

tabbar tabbox {
  margin: 0;
  padding: 0;
  min-height: 16px;
  background-color: var(--terminal-bg-color);
}

tabbar tabbox tab {
  margin: 0;
  padding: 0;
  color: color-mix(in srgb, var(--text-color), black 17%);
}

tabbar tabbox tab:selected {
  background-color: color-mix(in srgb, var(--terminal-bg-color), white 17%);
  color: var(--text-color);
}

tabbar tabbox tab label {
  font-size: 16px;
}
