#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Switch to Firefox
TryExec=clj_win_cycle_or_launch
Exec=clj_win_cycle_or_launch firefox
Type=Application
Icon=firefox
StartupNotify=false
