#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Time to sleep
Comment=Scan and go to sleep
TryExec=clj_time_to_sleep
Exec=clj_time_to_sleep
Terminal=true
Type=Application
Keywords=Health;Sleep
Icon=sleep
Categories=Utility;
StartupNotify=false
