#!/usr/bin/env xdg-open
[Desktop Entry]
Name=Switch to Ghostty
TryExec=clj_win_cycle_or_launch
Exec=clj_win_cycle_or_launch ghostty
Type=Application
Icon=Ghostty
StartupNotify=false
