[Desktop Entry]
Categories=Network
Exec=/usr/bin/nextcloud
GenericName=File Synchronizer
Icon=Nextcloud
Name=Nextcloud
StartupNotify=false
Terminal=false
Type=Application
X-GNOME-Autostart-enabled=true
