snippet table 
     ${1:First Header}   | ${2:First Header}
     --------------------|--------------------
     $0                  | 
snippet Anki-cloze
    \`\`\`autoanki
    note_type: Cloze
    fields:
        Text: |
            $0
        Extra: |
            
    \`\`\`
snippet Anki-basic
    \`\`\`autoanki
    note_type: Basic
    fields:
        Front: |
            $0
        Back: |
            
    \`\`\`
snippet Anki
    \`\`\`autoanki
    note_type: ${1:Note type}
    fields:
        ${0:Field}
    \`\`\`

snippet PdfLink
    <object data="autoanki-zotero://pdf/byCiteKey/$1#page=$2"></object>

snippet PdfLinkMultipage
    <object data="autoanki-zotero://pdf/byCiteKey/$1#page=$2" data-autoanki-pdf-pages="$3"></object>

snippet clj_literature_note
	---
	aliases:
	  - "${BIBLIOTECA_ITEM_TITLE}"
	---

	[Open in Zotero](zotero://select/items/@${BIBLIOTECA_ITEM_KEY})

	# ${BIBLIOTECA_ITEM_TITLE}$0

	## See also

	## Summary

	## Opinion

	## Notes

	## Diary

	* ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE}: created

snippet clj_literature_log
	${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} for ${1:how much time}: ${0:what}

snippet clj_task_note
	# ${0:title}

	## Subtasks

	## Notes

	## Decisions

	## Diary

	* ${CURRENT_YEAR}-${CURRENT_MONTH}-${CURRENT_DATE} ${CURRENT_HOUR}:${CURRENT_MINUTE}: opened

snippet clj_idea
    💡
snippet clj_insight
    🔍
snippet clj_decision
    ⚖️
snippet clj_advantage
    ✅
snippet clj_disadvantage
    ❌
snippet clj_irrelevant
    😑
snippet clj_stonks
    📈
snippet clj_unsure
    ❓
snippet clj_highlight
    ❗
snippet clj_speculation
    🤔
snippet clj_wtf
    🤨
snippet clj_mind_blowing
    🤯
snippet clj_frustration
    😩
snippet clj_consolation
    😌
